@font-face {
    font-family: Abordage;
    src:url("fonts/Abordage-Regular.ttf");
}

@font-face {
    font-family: Sligoil;
    src:url("fonts/Sligoil-Micro.otf");
}


@font-face {
    font-family: Terminal;
    src:url("fonts/terminal-grotesque.ttf");
}

@font-face {
    font-family: Louise;
    src:url("fonts/Louise-Regular.ttf");
}


body {
    margin: 0;
    /* background-image: url('images/IMG_9653.png'); */
    /* background-repeat: repeat-x; */
}

h1 {font-family: Abordage; 
    text-align: center; 
    line-height: 240px;
    font-size: 100px;}

p { font-family: Terminal; 
    font-size: 24px; 
    margin: 0px 100px; 
    line-height: 130%;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    width:60vw;
}

button{
    background-color:black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: Terminal;
    font-size: 24px;
}

.sticky {
    font-family: Abordage; 
    font-size: 24px; 
    position: -webkit-sticky;
    position: sticky;
    width: 20vw;
    display: inline-block;
    color: black;
}

.sticky a{
    color: black;

}

.sticky a:hover{
    color: orangered;
}


a{
    text-decoration: none;
}

.textcontent{
    left: 5%; 
    position: relative; 
    margin: 0px 200px; 
    padding: 0px;
    z-index: -1;
}

.topnav {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center; 
    font-size: 24px;
    position: relative;
    top: -100px;
    left:20%;
    transition: 1000ms;
}
  
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 500ms;
}

.topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.topnav a.active {
    background-color: rgb(0, 0, 0);
    color: white;
}

.navstar {
    color: black;
    font-size: 120px;
    position: fixed;
    text-decoration: none;
}
.navstar:hover{
    color: orangered;
}

.navstar.active{
    color: aqua;
}

.navstar .hovertext{
    visibility: hidden;
    position: absolute;
    font-family: Terminal; 
    font-size: 24px;
    top: 20%;
    width: 8vw;
    left: 105%;
    color: orangered;
    background-color: white;
}

.navstar:hover .hovertext{
    visibility:  visible;
}

.textcontainer{
    text-align: left;
}

.fixedindex {
    position: sticky;
}


#hoverspace {
    overflow: hidden;
    top:0px;
    height: 100px;
    width: 100%;
    position: fixed;
}

.textcontainer tr td{
    font-family: Sligoil; 
    font-size: 24px;
}

.textcontainer tr th{
    font-family: Sligoil; 
    font-size: 50px;
    vertical-align: top;
    width: 50px;
    line-height: 100%;
    margin: 40px;
}

.dragme{
    position:absolute;
}

.circle{
        position:absolute;
        transform:translate(-50%,-50%);
        height:100px;
        width:100px;
        border-radius:50%;
        border:0.5px solid black;
}

.highlighttext{
    background-color:white;
}

.highlighttext:hover{
 color: orangered;
}


::-moz-selection{ background:black; color:orangered; text-shadow: none; }

::selection { background:black; color:orangered; text-shadow: none; } 